<% include partials/header %>
<% include partials/navbar %>

<h1> Find a Job </h1>
<script>function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

	function display(){

var dis = document.getElementById("welcome");
		// var table = document.getElementById("myTable");
		// var srch= document.getElementById("myInput");
		dis.style.display= "block"
		// table.style.display="block";
		// srch.style.display="block";
}
function load() {
    alert("Page is loaded");
}

</script>




<div class="findAJob" >
	<form method="GET" >
    <label class="data">Category: </label>
    <select class="category" id="cat" name="category">
		   <option value="all"> All </option>
       <option value="Accounting">Accounting</option>
       <option value="Computer Science">Computer Science</option>
       <option value="Finance">Finance</option>
       <option value="Health Science">Health Science</option>
       <option value="Mangement">Management</option>
    </select>
	&nbsp;
    <label class="data">Experience: </label>
    <select class="category" id="exp" name="expr">
	       <option value="any">Any</option>
       <option value="0-1 yrs">0-1 yrs</option>
       <option value="1-2 yrs">1-2 yrs</option>
       <option value="2-3 yrs">2-3 yrs</option>
       <option value="3-4 yrs">3-4 yrs</option>
       <option value="more than 4 yrs">more than 4 yrs</option>
    </select>

    <!-- <input type="submit" id="search" value="SEARCH" onclick="showDiv()"/> -->
<input type="submit" id="search" value="SEARCH" onclick="display()" >

<div class="container">

    <hr>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Company" >
<div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs</h3>

            </div>
            <table class="table" id="myTable">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Company" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Company ID" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Employee Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Category" disabled></th>
												<th><input type="text" class="form-control" placeholder="Description" disabled></th>
												<th><input type="text" class="form-control" placeholder="Qualification" disabled></th>
												<th><input type="text" class="form-control" placeholder="Experience" disabled></th>
												<th><input type="text" class="form-control" placeholder="Contact" disabled></th>
												<% if(user){ %>
												<th> Apply</th>
												<% } %>
                    </tr>
                </thead>
                <tbody>
									<% jobs.forEach(function(job){ %>
                    <tr>
											<td><%= job.company_name %></td>
											<td><%=job.company_id %></td>
											<td><%=job.employee_name %></td>
											<td><%= job.job_category %></td>
											<td><%=job.job_description %></td>
											<td><%=job.qualifications %></td>
											<td><%=job.experience %></td>
											 <td> <%=job.contact_details %></td>

<% if(user){ %>
											<td><button type= "button" class="btn" id = "<%=job._id%>"> <span style="color:white">Apply </span></a> </button></td>
<% } %>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

</form>
</div>
<% include partials/footer %>
<script>
$("#cat").val("<%= where.job_category || "all" %>");
$("#exp").val("<%= where.experience || "any" %>");
</script>
<script src="/js/main.js"></script>